<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Villain</title>
</head>
<body>
  <h1>Just one villain</h1>
  <h2><%= villain %> (<%= id %>)</h2>
  <h2>Movie: <%= movie %></h2>
</body>
</html>
